PORT=3004
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/ticketflow

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin123@localhost:5672

# Payment Configuration
PAYMENT_SUCCESS_RATE=0.7
